Source: horizon
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Loic Dachary (OuoU) <loic@debian.org>,
           Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Ghe Rivero <ghe.rivero@stackops.com>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 8), python-all (>= 2.6.6-3~), python-setuptools,
 pep8,
 python-cloudfiles,
 python-coverage,
 python-django-nose,
 python-glanceclient,
 python-cinderclient,
 python-keystoneclient,
 python-mox,
 python-netaddr,
 python-nose,
 python-novaclient,
 python-quantumclient,
 python-sphinx,
 python-swiftclient,
 python-openstack-auth,
 python-compressor,
 nodejs-legacy, 
 node-less
Standards-Version: 3.9.3
Homepage: http://launchpad.net/horizon
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/horizon.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/horizon.git

Package: python-django-horizon
Section: python
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${python:Depends},
 python-cinderclient,
 python-cloudfiles,
 python-django,
 python-django-nose,
 python-glanceclient,
 python-keystoneclient,
 python-compressor,
 python-lockfile,
 python-memcache,
 python-netaddr,
 python-novaclient,
 python-openstack-auth,
 python-quantumclient,
 python-swiftclient,
 python-tz,
Recommends: memcached
Description: Django module providing web interaction with OpenStack
 Horizon is a Django module that permits interaction with an OpenStack
 cloud. It can be used to build a dashboard to control an OpenStack cloud.

Package: openstack-dashboard
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${python:Depends},
 python-django-horizon (= ${source:Version}),
 libjs-jquery,
 libjs-jquery-cookie,
 node-less,
 adduser,
 libapache2-mod-wsgi (>= 2.3)
Recommends: memcached, openstack-dashboard-apache
Description: OpenStack Dashboard
 The OpenStack Dashboard is a Web application allowing to control an
 OpenStack cloud.

Package: openstack-dashboard-apache
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libapache2-mod-wsgi (>=2.3),
 openstack-dashboard,
 ${misc:Depends}
Description: OpenStack Dashboard - Apache support
 The OpenStack Dashboard is a Web application allowing to control an
 OpenStack cloud.
 This package includes the configuration files to use within Apache.
