Source: horizon
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>,
           Gonéri Le Bouder <goneri@debian.org>
Build-Depends: debhelper (>= 9),
               po-debconf,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.6),
               openstack-pkg-tools,
               python-setuptools,
               python-sphinx
Build-Depends-Indep: python-ceilometerclient (>= 1.0.6),
                     python-cinderclient (>= 1:1.0.7),
                     python-cloudfiles,
                     python-compressor (>= 1.4),
                     python-coverage (>= 3.6),
                     python-django (>= 1.4),
                     python-django-nose,
                     python-django-pyscss,
                     python-docutils (>= 0.9.1),
                     python-eventlet (>= 0.13.0),
                     python-glanceclient (>= 1:0.13.1),
                     python-hacking (>= 0.8.0),
                     python-heatclient (>= 0.2.9),
                     python-httplib2 (>= 0.7.5),
                     python-iso8601 (>= 0.1.9),
                     python-keystoneclient (>= 1:0.9.0),
                     python-kombu (>= 2.5.12),
                     python-lockfile,
                     python-mox,
                     python-netaddr,
                     python-neutronclient (>= 2.3.5),
                     python-nose,
                     python-nosehtmloutput,
                     python-nosexcover,
                     python-nose-exclude,
                     python-novaclient (>= 2:2.17.0),
                     python-openstack-auth (>= 1.1.6),
                     python-openstack.nose-plugin,
                     python-oslosphinx,
                     python-pyscss,
                     python-saharaclient (>=0.6.0),
                     python-six (>= 1.7.0),
                     python-swiftclient (>= 1:2.0.2),
                     python-testtools (>= 0.9.34),
                     python-troveclient (>= 1.0.4),
                     python-tz,
                     python-xstatic,
                     python-xstatic-jquery,
                     python-xvfbwrapper
Standards-Version: 3.9.5
Homepage: http://horizon.openstack.org
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/horizon.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/horizon.git

Package: python-django-horizon
Section: python
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-ceilometerclient (>= 1.0.6),
         python-cinderclient (>= 1:1.0.7),
         python-cloudfiles,
         python-compressor (>= 1.4),
         python-d2to1 (>= 0.2.10),
         python-django (>= 1.4),
         python-django-nose,
         python-django-pyscss,
         python-eventlet (>= 0.13.0),
         python-glanceclient (>= 1:0.13.1),
         python-heatclient (>= 0.2.9),
         python-httplib2 (>= 0.7.5),
         python-iso8601 (>= 0.1.9),
         python-keystoneclient (>= 1:0.9.0),
         python-kombu (>= 2.5.12),
         python-lockfile,
         python-memcache,
         python-netaddr,
         python-neutronclient (>= 2.3.5),
         python-novaclient (>= 2:2.17.0),
         python-openstack-auth (>= 1.1.6),
         python-pyscss,
         python-saharaclient (>=0.6.0),
         python-six (>= 1.7.0),
         python-swiftclient (>= 1:2.0.2),
         python-troveclient (>= 1.0.4),
         python-tz,
         python-xstatic,
         python-xstatic-jquery,
         ${misc:Depends},
         ${python:Depends}
Recommends: memcached
Description: Django module providing web interaction with OpenStack
 The OpenStack Dashboard is a web application to control an OpenStack
 cloud. It connects to OpenStack services such as Nova, Swift, or Keystone
 using the OpenStack REST API just as you would with the command line
 clients.
 .
 Horizon is a Django module that permits interaction with an OpenStack
 cloud. It can be used to build a dashboard to control an OpenStack cloud.

Package: openstack-dashboard
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         libapache2-mod-wsgi (>= 2.3),
         libjs-jquery,
         libjs-jquery-cookie,
         python-django-horizon (= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Recommends: memcached, openstack-dashboard-apache
Description: OpenStack Dashboard
 The OpenStack Dashboard is a web application to control an OpenStack
 cloud. It connects to OpenStack services such as Nova, Swift, or Keystone
 using the OpenStack REST API just as you would with the command line
 clients.

Package: openstack-dashboard-apache
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: debconf, openstack-dashboard, ${misc:Depends}
Description: OpenStack Dashboard - Apache support
 The OpenStack Dashboard is a web application to control an OpenStack
 cloud. It connects to OpenStack services such as Nova, Swift, or Keystone
 using the OpenStack REST API just as you would with the command line
 clients.
 .
 This package includes the configuration files to use within Apache. If you
 wish to configure Apache yourself, use only openstack-dashboard.
