#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -r /etc/default/openstack-dashboard-apache ] ; then
	. /etc/default/openstack-dashboard-apache

	if [ "${HORIZON_ACTIVATE_VHOSTS}" = "true" ] || [ "${HORIZON_ACTIVATE_VHOSTS}" = "yes" ] ; then
		db_set horizon/activate_vhost true
	else
		db_set horizon/activate_vhost false
	fi
fi


db_input high horizon/activate_vhost || true
db_go || true

db_get horizon/activate_vhost
if [ "${RET}" = "true" ] ; then
	if [ -r /etc/default/openstack-dashboard-apache ] ; then
		if [ "${HORIZON_USE_SSL}" = "true" ] || [ "${HORIZON_USE_SSL}" = "yes" ] ; then
			db_set horizon/use_ssl true
		else
			db_set horizon/use_ssl false
		fi
	fi

	db_input high horizon/use_ssl || true
	db_go || true
fi

exit 0
